## Imports

In [3]:
import pandas as pd

## FixedBroadBand

In [5]:
# Loading the dataset
file_path = 'FixedBroadbandProcessed.csv'
dataset = pd.read_csv(file_path)

# Displaying the first few rows of the dataset to understand its structure
dataset.head()

  Country Name\t2007\t2008\t2009\t2010\t2011\t2012\t2013\t2014\t2015\t2016\t2017\t2018\t2019\t2020\t2021\t2022
0  Albania\t0.33601202\t2.16825011\t3.13935209\t3...
1  Andorra\t23.7002354\t27.18033\t31.0634783\t34....
2  Austria\t19.5546035\t20.7784229\t22.516342\t24...
3  Belgium\t25.6213806\t27.8044091\t29.193205\t31...
4  Bulgaria\t8.1496705\t10.9910301\t13.0722922\t1...

In [8]:
# Splitting the dataset into columns using tab delimiter
split_dataset = dataset['Country Name\t2007\t2008\t2009\t2010\t2011\t2012\t2013\t2014\t2015\t2016\t2017\t2018\t2019\t2020\t2021\t2022'].str.split('\t', expand=True)

# Renaming the first column to 'Country Name' and others to respective years
split_dataset.columns = ['Country Name'] + [str(year) for year in range(2007, 2023)]

# Melting the dataset to convert it into a long format
long_format_dataset = split_dataset.melt(id_vars=['Country Name'], var_name='Year', value_name='Value')

# Filtering the dataset to include data only from the year 2010 onwards
long_format_dataset = long_format_dataset[long_format_dataset['Year'].astype(int) >= 2010]

# Displaying the first few rows of the filtered dataset
long_format_dataset.head()
long_format_dataset.to_csv('FixedBroadbandProcessedPanel.csv', index=False)

## Mobile Data Penetration

In [11]:
# Re-loading the datasets due to the reset of the code execution state
file_path_fixed_broadband = 'FixedBroadbandProcessedPanel.csv'
file_path_indicator = 'MobileBroadband/indicator_11_20231217_all.csv'

# Loading the datasets
fixed_broadband_df = pd.read_csv(file_path_fixed_broadband)
indicator_df = pd.read_csv(file_path_indicator)

# Filtering both datasets to include only common countries
common_countries = set(fixed_broadband_df['Country Name']).intersection(set(indicator_df['Country']))

filtered_fixed_broadband_df = fixed_broadband_df[fixed_broadband_df['Country Name'].isin(common_countries)]
filtered_indicator_df = indicator_df[indicator_df['Country'].isin(common_countries)]

# Merging the two datasets on 'Country Name' and 'Year'
merged_df = pd.merge(filtered_fixed_broadband_df, filtered_indicator_df, left_on=['Country Name', 'Year'], right_on=['Country', 'Year'])

# Displaying the first few rows of the merged dataset
merged_df.head()

#Save the merged dataset
merged_df.to_csv('data.csv', index=False)

## GDP

In [13]:
# Define the file path
file_path = 'MobileBroadband/indicator_11_20231217_all.xlsx'

# Read the Excel file and save it as a dataframe
df = pd.read_excel(file_path)

iso_to_country = dict(zip(df['ISO'], df['Country']))

In [21]:
# Define the file path
file_path = 'GDP.csv'

# Read the CSV file and save it as a dataframe
gdp_df = pd.read_csv(file_path)

# Convert country code to country names using the iso_to_country map
gdp_df['Country Name'] = gdp_df['Country Code'].map(iso_to_country)
gdp_df = gdp_df.drop(columns=['Country Code'])

# Display the dataframe
gdp_df.head()

   Year  GDP(milUSD) Country Name
0  2010   943487.934    Australia
1  2011   993249.916    Australia
2  2012   998266.252    Australia
3  2013  1105431.180    Australia
4  2014  1118585.036    Australia

In [22]:
merged_df = pd.merge(gdp_df, pd.read_csv('data.csv'), on=['Country Name', 'Year'])
merged_df.head()

,Year,GDP(milUSD),Country Name,FixedBroadbandPenetration,MobileBroadbandPenetration
0,2010,351323.808,Austria,24.518019,33.015
1,2011,373031.477,Austria,24.998808,46.003
2,2012,391635.176,Austria,25.270368,58.056
3,2013,406370.245,Austria,26.328082,64.479
4,2014,417059.519,Austria,27.603344,67.056

In [23]:
merged_df.to_csv('FinalDataSet.csv', index=False)

## Get Final Dataset

In [24]:
# Define the file path
file_path = 'FinalDataSet.csv'

# Read the CSV file and save it as a dataframe
final_df = pd.read_csv(file_path)

# Display the dataframe
final_df.head()

,Country Name,Year,FixedBroadbandPenetration,MobileBroadbandPenetration,GDP(milUSD)
0,Austria,2010,24.518019,33.015,351323.808
1,Belgium,2010,31.009007,9.550,434058.868
2,Czechia,2010,21.607580,5.157,292032.224
3,Denmark,2010,38.055555,63.921,238555.117
4,France,2010,34.169506,35.525,2334557.742